* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Poppins";
  background-image: url(../img/background.jpeg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  backdrop-filter: blur(4px);
}

/* table, tr, td {
  border: none;
} */

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: 450ms all;
  position: fixed;
  left: 0;
  right: 0;
  isolation: isolate;
  /* visibility: hidden; */
}

.background figure {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: 450ms all;
  height: 100vh;
}
.background::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
  opacity: .579;
  width: 100%;
  height: 100%;
} 


@font-face {
  font-family: "designer";
  src: url("../fonts/designer/DESIGNER.otf") format('truetype');
}

@font-face {
  font-family: "luke";
  /* src: url("../fonts/vorname/Vorname.otf") format('truetype'); */
  src: url("../fonts/Luke-Thin200.ttf") format('truetype');
}

@font-face {
  font-family: "vorname";
  src: url("../fonts/vorname/Vorname.otf") format('truetype');
}
@font-face {
  font-family: "american";
  src: url("../fonts/American/American-Text.ttf") format('truetype');
}
@font-face {
  font-family: "gt";
  src: url("../fonts/Gt/Gt.ttf") format('truetype');
}
@font-face {
  font-family: "euro";
  src: url("../fonts/eurocorp/Eurocorp.ttf") format('truetype');
}
img {
  /* width: 100%; */
  height: 100%;
}

.cont {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

.tie_overlay {
  width: 100%;
  /* height: 100%; */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  isolation: isolate;
  transition: 450ms all;
}

.tie_overlay figure img{
  height: auto;
  background-position: center;
  width: 100%;
  transition: transform .5s all repeat;
}

.tie_overlay::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
  opacity: 0.975;
} 

#tie_background__users{
  transition: transform .5s;
  display: none;
} 
#tie_background__ai {
  transition: transform .5s;
  display: none;
}


.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  max-width: 420px;
  margin: 0 auto;
  /* z-index: 20; */
  /* border: 2px solid red; */
  position: relative;
}

.top_header a{
  text-decoration: none;
}
.select_language {
  background-image: url(../frames/usa.ico);
  width: 48px;
  height: 28px;
  background-size: cover;
}
/* .top_header .select_language {
  width: 40px;
  height: 25px;

} */

/* .top_header .select_language:nth-child(2) {
  margin-right: 1.2rem;
} */

/* .top_header button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
} */

.top_header .banner {
  width: 33px;
  animation: banner 25s linear infinite forwards;
  cursor: pointer;
  position: absolute;
  right: 2px;
  border: none;
  outline: none;
  background: transparent;
  z-index: -1;
  display: none;
}
.banner.active{
  display: block;
}
/* .banner:hover{
  display: none;
} */

.icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: none;
  border: transparent;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 25px 3px rgba(207, 175, 191, 0.8);
  animation: pulsate 2s linear infinite;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-delay: 0s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  background-color:rgba(255, 255, 255, 0.647);

}
.icon.info {
  border-color: #46b8da;
}
#about.active {
  /* display: none; */
  animation-play-state: paused;
}
.icon.active {
  /* display: none; */
  animation-play-state: paused;
}

.icon.info::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 4px;
  height: 13px;
  left: 50%;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #5bc0de;
}

.icon.info::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-left: -2px;
  top: 7px;
  background-color: #5bc0de;
}

@keyframes pulsate {
  0% {
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    transform: scale(1);
    opacity: 0.975;
    box-shadow: none;
  }
}

.game {
  position: relative;
  height: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.title {
  width: 100%;
  margin: 0 auto;
  margin-top: 23px;
  text-align: center;
}

.title h1 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: rgb(39, 41, 41);
}

.title h2 {
  font-family: "designer";
  font-size: 2rem;
  color: rgb(22, 22, 22);
  margin: 8px 0 32px 0;
}

.container-card {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center; 
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.742);
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* border: 0.5px solid rgba(0, 0, 0, 0.1);; */
  border: 0.5px solid rgba(0, 0, 0, 0.055);
}

.container-user img{
  width: 70px;
  height: 70px;

  transition: transform .5s;
  transform: scaleX(-1);
}

.container-img-vs img{
  width: 103px;
  height: 103px;
  transition: transform .5s;
}
.container-ai img{
  width: 70px;
  height: 70px;
}

.container-ai p:nth-child(2){
  font-family: "american";
  /* color: red; */
}
.container-user p:nth-child(2) {
  font-family: "american";
  text-transform: uppercase;
}

.container-card p{
  font-size: 2.4rem;
}
.container-card p:nth-child(2){
  /* font-size: 3.4rem; */
  /* font-family: "vorname"; */
}
.container-card p:nth-child(3){
  font-size: 2rem;
  font-family: "american";
}

/* ___________________________________________________ */

.container_choise {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(255, 255, 255, 0.742);
  margin: 0 auto;
  position: relative;
  border: 0.5px solid rgba(0, 0, 0, 0.055);
  /* border: 0.5px solid rgba(0, 0, 0, 0.1);; */
}

.container_choise p::first-letter {
  font-family: "american";
  font-size: 3rem;
  /* vertical-align: middle; */
}

.choises {
  color: rgb(24, 22, 22);
  font-size: 3rem;
  margin-bottom: 16px;
  /* font-family: "designer"; */
  /* font-family: "luke"; */
  /* font-family: "vorname"; */
  font-family: "american";
  letter-spacing: 1.7px;

}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 14px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.942);
  border: 0.5px solid rgba(0, 0, 0, 0.035);
}

.options .rock {
  background-image: url(../img/rock.png);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
}

.options .rock:focus {
  outline: none;
}

.options .rock:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.options .paper {
  background-image: url(../img/paper.png);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;

  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
}

.options .paper:focus {
  outline: none;
}

.options .paper:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.options .scissors {
  background-image: url(../img/scissors.png);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  /* margin-right: 25px; */
}

.options .scissors:focus {
  outline: none;
}

.options .scissors:hover {
  cursor: pointer;
  transform: scale(1.2)
}


/* -------------------------------------------------- */

.container_choise .reset:hover {
  transform: scale(1.075)
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(27, 26, 26);
  margin-top: 23px;
  transition: transform .5s;
  transition: all 0.3s ease;
  /* border: 1px solid red; */
  
}
.reset p:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;

}
.reset .letter_r {
  /* color: red; */
  font-family: "euro";
  /* font-size: 4rem; */
  font-size: 2.6rem;
  /* position: relative;
  left: 1px; */
  cursor: pointer;
  font-weight: lighter;
}
.letter_r::first-letter{
  /* color: red; */
  font-size: 2.2rem;
}
.reset .letter_e{
  font-family: "euro";
  font-size: 2.6rem;
}
.reset .letter_s{
  font-family: "euro";
  font-size: 2.6rem;
}

.reset .letter_t {
  font-family: "euro";
  font-size: 3rem;
}


.reset .rock {
  background-image: url(../img/rock.png);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
}

.reset .rock:focus {
  outline: none;
}

.reset .paper {
  background-image: url(../img/paper.png);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
  transform: rotate(110deg);
  position: relative;
  right: 2px;
}

.reset .paper:focus {
  outline: none;
}

.reset .scissors {
  background-image: url(../img/scissors.png);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transform: scaleX(-1);
  position: relative;
  right: 2px;
}

.reset .scissors:focus {
  outline: none;
}

.modal_selection {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  transition: opacity 0.5s ease 0.5s;
  /* border: 0.5px solid rgba(0, 0, 0, 0.055); */

}

.modal_result {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  transform: translateY(0%);
  background-color: rgba(255, 255, 255, .9799);
  margin: 0 auto;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  backdrop-filter: blur(9px);
  z-index: 20;
  overflow: hidden;
  overflow-y: hidden;
  cursor: pointer;
}

.modal_result h1::first-letter {
  font-family: 'american';
  font-size: 5.8rem;
}

.modal_result .tie {
  transform: scaleX(-1);
}

.modal_result img {
  position: absolute;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal_result h1 {
  line-height: 1;
  font-family: "euro";
  /* font-family: 'luke'; */
  font-size: 3.7rem;
  font-weight: 100;
}

.show_modal {
  transition: transform 1s;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* border: 5px solid red; */
}
/* .show_modal::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to middle, rgb(18, 17, 17) 2%, rgba(17, 16, 16, 0.8) 100%);
  opacity: 1;
} */

.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
  opacity: .979; */
  /* position: relative; */
}
.modal_container::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  inset: 0;
  /* background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
  opacity: .979; */
  border-radius: 8px;
  
}
/* .modal_container img {
  transition: 450ms all;
  width: auto;
  height: auto;
  position: fixed;
  display: block;
  z-index: 1;
} */

.modal_body {
  text-align: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
  padding: 1.5rem;
  /* background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
  opacity: .979; */
  background-color: rgba(255, 255, 255, .9799);
  isolation: isolate;
  /* background-image: url(../img/hum/07.png); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
}

.modal_body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
  opacity: .979;
  border-radius: 8px;
  z-index: -1;
  
}
.modal_body #modal_users {
  transition: 450ms all;
  width: auto;
  height: auto;
  position: fixed;
  /* position: relative; */
  /* position: absolute; */
  top: 0;
  display: block;
  z-index: -1;
  overflow: hidden;
}
/* .modal_container, .modal_body {
  z-index: 1;
} */
/* .footer_brand {
  position: relative;
} */

.footer_modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 0;
  right: 1.5rem;
}
.modal_body a {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 6px;
  color: #9aa0a6; 
  font-family: 'poppins';
}

.close_modal{
  position: absolute;
  top: 8px;
  right: 8px;
  color: #9aa0a6;
  background-color: rgba(112, 117, 126, 0.25);
  outline: none;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

@keyframes banner {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg)
  }
}

/* ====================english frame======================= */
.modal_body h1::first-letter {
  font-size: 3.6rem;
  font-family: "american";
}

.modal_body h2::first-letter {
  font-size: 5.6rem;
  font-family: "vorname";
  /* vertical-align: middle; */
  vertical-align: bottom;
  line-height: 0.5;
  font-weight: 100;
}

.modal_body h2 {
  font-size: 14px;
}

.title_modal {
  /* font-family: "luke"; */
  font-family: "american";
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 1.4px;
  /* margin: 1.5rem 0 1.5rem 0; */
}

.frameStone {
  background-image: url(../img/rock.png);
  background-size: 100% 100%;
  border: none;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
  /* margin-left: 15px; */
}

.frameRole {
  background-image: url(../img/paper.png);
  background-size: 100% 100%;
  border: none;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
  /* margin-left: 15px; */
}

.frameScissor {
  background-image: url(../img/scissors.png);
  background-size: 100% 100%;
  border: none;
  width: 23px;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
  transform: scaleX(-1);
  margin-left: 10px;
}

.frameone{
  background-image: url(../frames/ran.png);
  background-size: 100% 100%;
  border: none;
  width: 320px;
  height: 180px;
  border: none;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
}

.frametwo{
  background-image: url(../frames/hands.png);
  background-size: 100% 100%;
  border: none;
  width: 320px;
  height: 180px;
  border: none;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
}

.alertMessage{
  background-image: url(../frames/tie.png);
  background-size: 100% 100%;
  border: none;
  width: 320px;
  height: 180px;
  margin-bottom: 23px;
}

/* ====================spanish frame======================= */
.frameonespa{
  background-image: url(../frames/frameonespa.png);
  background-size: 100% 100%;
  border: none;
  width: 320px;
  height: 145px;
}

.frametwospa{
  /* background-image: url(../frames/choi.png); */
  background-size: 100% 100%;
  border: none;
  width: 320px;
  height: 156px;
}

.Instruction{
  text-align: left; 
  margin-bottom: 1rem;
}

.hand li{
  text-align: left;
  font-size: 14px;
  list-style-type: none;
}

.modal_body ul:nth-last-child(2) {
  text-decoration: none;
}
.hands_tie {
  margin-bottom: 13px;
}
.hands_tie button:nth-child(1) {
  transform: scaleX(-1);
}

.footer {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  text-align: center;
}

.footer p{
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 8px;
  font-weight: 700;
  font-family: 'poppins';
}

@media (max-width: 320px) {
  .game {
    position: relative;
    right: 0.5em;
    width: 100%;
    width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 440px) {
  .top_header {
    max-width: 442px;
    margin: 0 auto;

  }
  .game {
    margin: 0 auto;
    max-width: 442px;
  }

  .modal_container {
    width: 90%;
    height: 90%;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    border-radius: 8px;
  }
  .modal_body {
    border-radius: 8px;
  }
}

@media (max-height: 600px) {
  .footer {
    position: relative;
    top: 53px;
    padding: 8px;
  }
}

@media (min-width: 700px) {
  /* html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: "Poppins";
    background-image: url(../img/background.jpeg);
    background-size: fill;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
  } */
  .tie_overlay {
    width: 100%;
    /* height: 100%; */
  }

  .background figure {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: 450ms all;
    height: 100vh;
  }
  
  .background::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    inset: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
    opacity: .579;
    width: 100%;
    height: 100%;
  } 

  .top_header {
     max-width: 540px;
      margin: 0 auto;
      padding-top: 24px;
  }

  .game {
    max-width: 500px;
    margin: 0 auto;
  }

  .title h1 {
    font-size:1.8rem;
  }
  
  .title h2 {
    font-size: 2.3rem;
  }
  
  .container-card{
    padding: 10px;
  }
  
  .container-user img{
    width: 80px;
    height: 80px;
  }
  
  .container-img-vs img{
    width: 100px;
    height: 100px;
    transition: transform .5s;
  }
  .container-ai img{
    width: 80px;
    height: 80px;
  }

  .container-card p:nth-child(2){
    font-size: 3.2rem;
  }
  .container-card p:nth-child(3){
    font-size: 2.4rem;
  }

  .modal_result {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: transform 1s;
    transform: translateY(0%);
    background-color: rgba(255, 255, 255, .9799);
  }
  .options .rock {
    width: 60px;
    height: 60px;
  }
  
  .options .rock:hover{
    transform: scale(1.4)
  }
  
  .options .paper {
    width: 60px;
    height: 60px;
  }
  
  
  .options .paper:hover{
    transform: scale(1.4)
  }
  
  .options .scissors {
    width: 60px;
    height: 60px;
  }
  
  .options .scissors:hover{
    transform: scale(1.4)
  }

  .modal_container {
    width: 90%;
    height: 90%;
  }

  .footer p{
    font-size: 1.4rem;
  }
}

@media (min-width: 800px) {
  .tie_overlay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-auto-flow: column;
  }

  .tie_overlay figure:nth-child(1) {
    grid-column: 1 / 3;
  }
  .tie_overlay figure:nth-child(2) {
    grid-column: 5 / 7;
    /* position: relative;
    bottom: 300px; */
  }

  .tie_overlay figure img{
    height: 100%;
    /* height: 100vh; */
    background-position: center;
    width: auto;
    transition: transform .5s all repeat;
  }

  .modal_container {
    width: 95%;
    max-width: 700px;
    height: 95%;
  }
}

@media (min-width: 920px) {
  .modal_container {
    max-width: 720px;
    height: 95%;
  }
}

@media (min-width: 1000px) {

}

@media (min-width: 1200px) {
  .tie_overlay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .tie_overlay figure:nth-child(1) {
    grid-column: 1 / 4;
  }
  .tie_overlay figure:nth-child(2) {
    grid-column: 5 / 7;
  }

  .modal_container {
    max-width: 690px;
    height: 95%;
  }
}

@media (min-width: 1400px) {
  .tie_overlay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .tie_overlay figure:nth-child(1) {
    grid-column: 2 / 4;
  }
  .tie_overlay figure:nth-child(2) {
    grid-column: 5 / 7;
  }
}


