.spanish {
  background-image: url(../frames/mex.png);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 55px;
  height: 35px;
  outline: none;
}

.english {
  background-image: url(../frames/usa.jpg);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  width: 55px;
  height: 35px;
  outline: none;
}

.game {
  max-width: 860px;
  margin: 0 auto;
}

.title{
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.title h1 {
  font-size: 2.4rem;
}

.title h2 {
  font-size: 2.6rem;
  line-height: 8rem;
}

.container-card{
  width: 65%;
  padding: 10px;
  border: 1px solid red;

}

.container-user img{
  width: 80px;
  height: 80px;
}

.container-img-vs img{
  width: 100px;
  height: 100px;
  transition: transform .5s;
}
.container-ai img{
  /* width: 80px;
  height: 80px; */
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.container-card p{
  font-size: 2.4rem;
  padding: 5px;
  /* font-family: "vorname"; */
}

.match{
  width: 65%;
  padding: 15px;
  border-radius:15px;
}

.choises{
  font-size: 2.2rem;
}

.options{
  width: 90%;
  padding: 15px;
}

.options .rock {
  width: 60px;
  height: 60px;
}

.options .rock:hover{
  transform: scale(1.4)
}

.options .paper {
  width: 60px;
  height: 60px;
}


.options .paper:hover{
  transform: scale(1.4)
}

.options .scissors {
  width: 60px;
  height: 60px;
}

.options .scissors:hover{
  transform: scale(1.4)
}

.reset {
  font-size: 2.2rem;
 
}

.modal-container {
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 1;
  /* left: 0;
  top: 0; */
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  transition: opacity 0.5s ease 0.5s;
}


.modal {
  top: 22px;
  transition: transform 1s;
  transform: translateY(0%);
  width: 85%;
  height: 80%;
  border-radius: 15px;
  /* padding: 1rem; */
  box-shadow: 0 5px 8px 0 rgba(209, 12, 12, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.close{
  width: 25px;
  height: 25px;
}

/* .banner{
  width: 6%;
  height: 6%;
  left: calc(95% - 15px);
} */

.bannertitle{
  max-width: 45%;
}

.message{
  max-width: 45%;
  text-align: left;
}

.frameone{
  align-items: center;
  width: 320px;
}

.frametwo{
  width: 320px;
}

.alertwon{
  width: 320px;
}

.Instructionframe{
  text-align: left;
}
.objetive{
  max-width: 60%;
  text-align: left;
}
.objetive li{
  text-align: left;
}
.hand li{
  text-align: left;
}

.footer{
  text-align: center;
}

.footer p{
  font-size: 1.6rem;
}
